.my-name {
    font-size: 42px;
    text-align: center;
}

.my-title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.section-title {
    font-size: 26px;
    font-weight: bold;
    text-transform: capitalize;
}

.job {
    font-size: 20px;
    color: blue;
}

.job-title {
    font-size: 16px;
    font-style: italic;

}

.job-date {


}

.experience-container {
    border-style: solid;

}

.skills-container {
    border-style: solid;

}


